FLASHFIT_ENV=production
SUPABASE_PROJECT_REF=replace_with_production_project_ref
SUPABASE_URL=https://replace_with_production_project_ref.supabase.co
SUPABASE_PUBLISHABLE_KEY=replace_with_production_publishable_key
FLASHFIT_PRODUCTION_PROJECT_REF=replace_with_production_project_ref
FLASHFIT_STAGING_PROJECT_REF=wxvnbktmugjkpgcsuldj
PUBLIC_ANALYTICS_ID=
